In [3]:

from pymongo import MongoClient

In [4]:
uri = "mongodb+srv://praj2408:Praj24info@cluster0.5irgrzr.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [5]:
mydb=client["mydatabase"]

In [15]:
client.list_database_names()

['mydatabase', 'admin', 'local']

In [7]:
mycol=mydb["myfirstcollection"]

In [8]:
myfirstrecord={"fname":"Prajwal", "lname":"Krishna", "address":"Bengaluru"}

In [9]:
myfirstrecord

{'fname': 'Prajwal', 'lname': 'Krishna', 'address': 'Bengaluru'}

In [23]:
x = mycol.insert_many(multiplerecords)

In [21]:
x.inserted_id

ObjectId('65357354eeb36f5f6be11709')

In [19]:
mysecondrecord={"fname":"Ganga", "lname":"Krishna", "address":"Gauribidanur"}

In [13]:
mythirdrecord={"fname":"Gautham", "lname":"Krishna", "address":"Mysore","salary":"10000"}

In [22]:
multiplerecords=[
    {"_id":1, "fname":"Krish", "lname":"Krishna", "address":"Gowribidanur","salary":"2000"},
    {"_id":2, "fname":"Jawwad", "lname":"v", "address":"Manchenalli","salary":"87000"}
    
]

In [25]:
for i in mycol.find():
    print(i)

{'_id': ObjectId('65355b62eeb36f5f6be11702'), 'fname': 'Prajwal', 'lname': 'Krishna', 'address': 'Bengaluru'}
{'_id': ObjectId('65355bdceeb36f5f6be11703'), 'fname': 'Prashanth', 'lname': 'Krishna', 'address': 'Gauribidanur'}
{'_id': ObjectId('65355cb6eeb36f5f6be11704'), 'fname': 'Gautham', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '10000'}
{'_id': ObjectId('653572b7eeb36f5f6be11705'), 'fname': 'Manjula', 'lname': 'Krishna', 'address': 'Gowribidanur', 'salary': '2000'}
{'_id': ObjectId('653572b7eeb36f5f6be11706'), 'fname': 'Krishnappa', 'lname': 'v', 'address': 'Manchenalli', 'salary': '87000'}
{'_id': ObjectId('653572b7eeb36f5f6be11707'), 'fname': 'Puneeth', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '35000'}
{'_id': ObjectId('653572b7eeb36f5f6be11708'), 'fname': 'Pavithra', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '30000'}
{'_id': ObjectId('65357354eeb36f5f6be11709'), 'fname': 'Ganga', 'lname': 'Krishna', 'address': 'Gauribidanur'}
{'_id': 1, 'fname': 'Krish', 'lname': 'Krishna', 'address': 'Gowribidanur', 'salary': '2000'}
{'_id': 2, 'fname': 'Jawwad', 'lname': 'v', 'address': 'Manchenalli', 'salary': '87000'}

In [29]:
mycol.find_one({"name":"Prashanth"})

None

In [31]:
for x in mycol.find({"address":"Gauribidanur"}):
    print(x)

{'_id': ObjectId('65355bdceeb36f5f6be11703'), 'fname': 'Prashanth', 'lname': 'Krishna', 'address': 'Gauribidanur'}
{'_id': ObjectId('65357354eeb36f5f6be11709'), 'fname': 'Ganga', 'lname': 'Krishna', 'address': 'Gauribidanur'}

In [38]:
for i in mycol.find().sort("fname", -1):
    print(i)

{'_id': ObjectId('653572b7eeb36f5f6be11707'), 'fname': 'Puneeth', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '35000'}
{'_id': ObjectId('65355bdceeb36f5f6be11703'), 'fname': 'Prashanth', 'lname': 'Krishna', 'address': 'Gauribidanur'}
{'_id': ObjectId('65355b62eeb36f5f6be11702'), 'fname': 'Prajwal', 'lname': 'Krishna', 'address': 'Bengaluru'}
{'_id': ObjectId('653572b7eeb36f5f6be11708'), 'fname': 'Pavithra', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '30000'}
{'_id': ObjectId('653572b7eeb36f5f6be11706'), 'fname': 'Manjunatha', 'lname': 'v', 'address': 'Manchenalli', 'salary': '87000'}
{'_id': ObjectId('653572b7eeb36f5f6be11705'), 'fname': 'Manjula', 'lname': 'Krishna', 'address': 'Gowribidanur', 'salary': '2000'}
{'_id': 1, 'fname': 'Krish', 'lname': 'Krishna', 'address': 'Gowribidanur', 'salary': '2000'}
{'_id': 2, 'fname': 'Jawwad', 'lname': 'v', 'address': 'Manchenalli', 'salary': '87000'}
{'_id': ObjectId('65355cb6eeb36f5f6be11704'), 'fname': 'Gautham', 'lname': 'Krishna', 'address': 'Mysore', 'salary': '10000'}

In [34]:
mycol.delete_one({"fname":"Ganga"})

In [ ]:
mycol.delete_many({})

In [36]:
myquery = {"fname": "Krishnappa"}
newvalue = {"$set":{"fname": "Manjunatha"}}

In [37]:
mycol.update_one(myquery, newvalue)